.Menu_className {
  height: inherit;
  margin: 0;
  text-align: center;
  @media screen and (max-width: 767px) {
    text-align: left;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    justify-content: flex-start;
    margin-right: 30px;
  }
  @media screen and (min-width: 992px) and (max-width: 1100px) {
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
  }
  li {
    display: inline-block;
    height: inherit;
    &::after {
      height: 100%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &:nth-child(1) {
      a {
        padding-left: 20px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
    &:nth-child(n + 4) {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    a {
      padding-left: 20px;
      position: relative;
      vertical-align: middle;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      padding: 15px;
      display: inline-block;
      @media screen and (max-width: 767px) {
        padding: 11px 10px 19px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 13px;
        padding: 11px 10px 19px;
      }
      @media screen and (min-width: 992px) and (max-width: 1100px) {
        font-size: 13px;
        padding: 15px 0;
      }
      & > em {
        position: absolute;
        top: 10px;
        right: -5px;
        pointer-events: none;
        font-style: normal;
        @media screen and (min-width: 768px) and (max-width: 991px) {
          top: 5px;
          right: -7px;
        }
        @media screen and (min-width: 992px) and (max-width: 1100px) {
          right: -20px;
        }
      }
      & > span {
        position: absolute;
        top: 10px;
        right: -7px;
        pointer-events: none;
        @media screen and (min-width: 768px) and (max-width: 991px) {
          top: 4px;
          right: -8px;
        }
        @media screen and (min-width: 992px) and (max-width: 1100px) {
          right: -20px;
          top: 9px;
        }
      }
    }
  }
}
